# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db
/.vscode/sftp.json
.gitignore
error_log
.env
finguer-web.code-workspace
appPizza.ts

# Ignorar logs y archivos temporales
/logs/
/temp/

# Ignorar directorio de dependencias (ejemplo para PHP y Composer)
/vendor/
/node_modules/