# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db
/.vscode/sftp.json
finguer-web.code-workspace

# Ignorar logs y archivos temporales
/logs/
/temp/

# Ignorar directorio de dependencias (ejemplo para PHP y Composer)
/vendor/
/node_modules/
/dev/
/pdf/
/vendor/
/dist/
/pdf/
/.vscode/
.env
error_log
.ftpquota
.gitignore
/dist/


.vscode/
.husky/
