<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

     # Redireccionar "/" a "/inici"
    RewriteRule ^$ / [L,R=301]

    RewriteCond %{REQUEST_URI} ^/control/$
    RewriteRule ^(.*)$ /control/reserves-pendents [R=301,L]
      
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

# Permitir la carga de archivos SVG
<FilesMatch "\.svg$">
    Header set Content-Type "image/svg+xml"
</FilesMatch>
